<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規記事作成</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h3>新規記事作成</h3>
		<form action="/blogs/add" method="post">
			<table>
				<tr>
					<th>カテゴリー</th>
					<td>
						<input type="radio" id="category_work" name="categoryId" value="1" checked />
						<label for="category_work">仕事</label>
						<input type="radio" id="category_entertainment" name="categoryId" value="2" />
						<label for="category_entertainment">遊び</label>
						<input type="radio" id="category_study" name="categoryId" value="3" />
						<label for="category_study">勉強</label>
					</td>
				</tr>
				<tr>
					<th>タイトル</th>
					<td>
						<input type="text" name="title">
					</td>
				</tr>
				<tr>
					<th>内容</th>
					<td>
						<textarea name="body"></textarea>
					</td>
				</tr>
			</table>
			<div>
				<button>新規作成</button>
			</div>
		</form>
	</main>
</body>

</html>