<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ブログ一覧画面</title>
	<link rel="stylesheet" text="text/css" href="/css/reset.css">
	<link rel="stylesheet" text="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<nav>
			<a href="/blogs">全商品</a>
			<a th:each="blogCategory:${categories}" th:href="@{/blogs(categoryId=${blogCategory.id})}">
				<span th:text="${blogCategory.name}"></span>
			</a>
		</nav>
		<h3><a href="/blogs/new">新規記事作成</a></h3>
		<table>
			<tr>
				<th>NO</th>
				<th>タイトル</th>
				<th>カテゴリー</th>
				<th>変更</th>
				<th>削除</th>
			</tr>
			<tr th:each="blog:${blogs}">
				<td th:text="${blog.id}"></td>
				<td th:text="${blog.title}"></td>
				<td></td>
				<td style="width: 200px">
					<form th:action="@{/blogs/{blogId}/edit(blogId=${blog.id})}" method="get">
						<button>変更</button>
					</form>
				</td>
				<td style="width: 200px;">
					<form th:action="@{/blogs/{blogId}/delete(blogId=${blog.id})}" method="post">
						<button type="button" onclick="openModal(this)">削除</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
	
	<!-- モーダルウィンドウの記述 -->
	<div id="deleteModal" class="modal">
		<div class="modal-content">
			<p>このページの内容</p>
			<p>記事を削除します。よろしいですか？</p>
			<button id="confirmDeleteBtn">OK</button>
			<button id="cancelBtn" onclick="closeModal()">キャンセル</button>
		</div>
	</div>
	
	<!-- JavaScriptでモーダルのお手伝い -->
	<script>
		let currentForm = null; // 今どのformを削除しようとしてるか

		function openModal(button) {
			currentForm = button.closest('form'); // formを保存
			document.getElementById('deleteModal').style.display = 'block';
		}

		function closeModal() {
			document.getElementById('deleteModal').style.display = 'none';
			currentForm = null;
		}

		// OKボタンで送信
		document.addEventListener("DOMContentLoaded", function () {
			document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
				if (currentForm) {
					currentForm.submit();
				}
			});
		});
	</script>

</body>

</html>